<iframe width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiZDI4N2QwMGMtNzUzZS00NGQwLWI3NWItZWY0ZTg2MWY4M2Q2IiwidCI6IjY4NjZkYzAwLWQ5YzYtNDIzYS1hYjg5LTFhMmJkMmUwZjVhYSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>

<br/>
<p><a href="https://app.powerbi.com/view?r=eyJrIjoiZDI4N2QwMGMtNzUzZS00NGQwLWI3NWItZWY0ZTg2MWY4M2Q2IiwidCI6IjY4NjZkYzAwLWQ5YzYtNDIzYS1hYjg5LTFhMmJkMmUwZjVhYSIsImMiOjN9">https://app.powerbi.com/view?r=eyJrIjoiZDI4N2QwMGMtNzUzZS00NGQwLWI3NWItZWY0ZTg2MWY4M2Q2IiwidCI6IjY4NjZkYzAwLWQ5YzYtNDIzYS1hYjg5LTFhMmJkMmUwZjVhYSIsImMiOjN9</a></p>

<br/>

<iframe width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=618e2ba6-402c-44cd-952d-e757c16c70c2&autoAuth=true&ctid=6866dc00-d9c6-423a-ab89-1a2bd2e0f5aa&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>