﻿@model app.Models.PBIConfig

@{
    ViewBag.Title = "Example";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Power BI Embed Example</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Embedded Private Report Using Principal Account</h3>
            <div id="embedContainer" class="responsive-container" style="background-color: gray; min-height: 250px;"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/lib/powerbi-client/dist/powerbi.min.js"></script>
    <script>
        "use strict";
        // Get a reference to the embedded report HTML element
        const reportContainer = $('#embedContainer')[0];

        // Read embed application token from Model
        const accessToken = "@Model.EmbedToken.Token";

        // You can embed different reports as per your need by changing the index
        // Read embed URL from Model
        const embedUrl = "@Html.Raw(Model.EmbedUrl)";

        // Read report Id from Model
        const embedReportId = "@Model.ReportId";

        // Use the token expiry to regenerate Embed token for seamless end user experience
        // Refer https://aka.ms/RefreshEmbedToken
        const tokenExpiry = "@Model.EmbedToken.Expiration";

        // Get models. models contains enums that can be used.
        const models = window['powerbi-client'].models;

        // Embed configuration used to describe the what and how to embed.
        // This object is used when calling powerbi.embed.
        // This also includes settings and options such as filters.
        // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
        const config = {
            type: 'report',
            tokenType: models.TokenType.Embed,
            accessToken: accessToken,
            embedUrl: embedUrl,
            id: embedReportId,
            permissions: models.Permissions.All,
            viewMode: models.ViewMode.View,
            settings: {
                // Enable this setting to remove gray shoulders from embedded report
                // background: models.BackgroundType.Transparent,
                filterPaneEnabled: true,
                navContentPaneEnabled: true,
                layoutType: models.LayoutType.MobilePortrait
            }
        };

        // Embed the report and display it within the div container.
        const report = powerbi.embed(reportContainer, config);

        // docs.microsoft.com/en-us/javascript/api/overview/powerbi/mobile
        report.updateSettings(config);

    </script>
}

