﻿@model app.Models.PBIConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="jumbotron">
    <h1>Power BI Embed Example</h1>
    <p>To embed private Power BI report into a web page please fill in the form details below and click submit</p>
    <p>References:</p>
    <ul>
        <li>https://powerbi.microsoft.com/en-us/blog/use-power-bi-api-with-service-principal-preview/</li>
        <li>https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-service-principal</li>
        <li>https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-tokens</li>
        <li>https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-customers?tabs=net-framework#tenant-id</li>
        <li>https://www.youtube.com/watch?v=y8KzO3htIgs</li>
    </ul>
    <p>Note: The reason to embed a private report using token is to have control who can view this report within restricted application area and also have ability to display filter pane and report tabs.</p>
</div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row" style="padding-top: 25px;">
        <div class="col-md-6">
            <label>Application Id</label>
            @Html.EditorFor(model => model.ApplicationId, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
            @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            <label>Workspace Id</label>
            @Html.EditorFor(model => model.WorkspaceId, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
            @Html.ValidationMessageFor(model => model.WorkspaceId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top: 15px;">
        <div class="col-md-6">
            <label>Tenant Id</label>
            @Html.EditorFor(model => model.Tenant, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
            @Html.ValidationMessageFor(model => model.Tenant, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            <label>Report Id</label>
            @Html.EditorFor(model => model.ReportId, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
            @Html.ValidationMessageFor(model => model.ReportId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top: 15px;">
        <div class="col-md-12">
            <label>Application Secret</label>
            @Html.EditorFor(model => model.ApplicationSecret, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
            @Html.ValidationMessageFor(model => model.ApplicationSecret, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top: 15px;">
        <div class="col-md-12">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>
}
