﻿
@if (TempData["success"] != null)
{
<section class="module p-t-100 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    @TempData["success"]
                </div>
            </div>
        </div>
    </div>
</section>
}

@if (TempData["error"] != null)
{
    <section class="module p-t-100 p-b-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger text-center">
                        @TempData["error"]
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (TempData["info"] != null)
{
    <section class="module p-t-100 p-b-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        @TempData["info"]
                    </div>
                </div>
            </div>
        </div>
    </section>
}